.git
.gitignore
.env
.env.*
!.env.example
!.env.docker.example
.DS_Store
.fleet
.idea
.nova
.vscode
.zed
node_modules
vendor
public/build
public/hot
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*.php
npm-debug.log
yarn-error.log
